<% provide(:title, 'Sign up') %>

  <head>
      <title><%= content_for?(:title) ? yield(:title) : "Soundmanager" %></title>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
      <![endif]-->
  </head>
  <body>
    <header>
      <div style="padding: 25px" >
        <h1>Sign up</h1>
        <p>This will be a signup page for new users.</p>
      </div>
    </header>
  </body>
