<div id="notice">
  <% flash.each do |message_type, message| %>
      <div id="flash_notice" class="alert alert-<%= message_type %> alert-dismissable fade in"><%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>  
  <% end %>
</div> 