  <div class="panel-footer clearfix">
      <small>A simple ruby app by Clinton Best</small>
      <div class="pull-right">
        <ul>
        <li><%= link_to "Donate",  welcome_donate_path %></li>
        <li><%= link_to "About",   welcome_about_path %></li>
        <li><%= link_to "Contact", welcome_contact_path %></li>
        </ul>
      </div>
  </div>
