<h1>Contact</h1>
<p>If you would like to reach me by email:
<a href="clintguy45@gmail.com">clintguy45@gmail.com</a>
</p>
<p>Check out my Linkdeln:
<a href="www.linkedin.com/pub/clint-best/48/175/676/">Linkedin</a>
</p>
<p>GitHub for this Project
<a href="https://github.com/clintguy45/ClintSoundManager.git">GitHub</a>
</p>
