<h1>Welcome to Clints SoundManager v1.0</h1>

<div class="container">
  <div style="display: block; margin-left: auto; margin-right: auto;">
    <a style="margin-left:20%"><%= link_to(image_tag("colorful_music.jpg", :class =>"img-responsive center-block"), sounds_index_path) %></a>
  </div>
</div>


