

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=>true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=>false %>
</head>

<body>
  <div style="background-color:#F44D5E;" class="container">
    <div style="background-color:#F44D5E;" class="jumbotron">
      <h1 style="color:white;" >Welcome to C.Best Ideas</h1>
      <p style="text-align:center; color:white;">This site serves to showcase some of my talent but mostly just
         for my enjoyment.
      </p>
      
    </div>
  </div>
</body>
