<footer class="footer">
  <small>
    A simple ruby app by Clinton Best
  </small>
  <nav class="panel-footer text-center">
    <ul>
      <li><%= link_to "About",   welcome_about_path %></li>
      <li><%= link_to "Contact", welcome_contact_path %></li>
    </ul>
  </nav>
</footer>
